[symlink]
predicted = /path/to/predicted/images/
shapes = /path/to/shape/dataset/
mapillary = /path/to/mapillary/dataset/
mapillary_agg = /path/to/agregated/mapillary/dataset/
aerial = /path/to/aerial/dataset/