<script src="{{ url_for('static', filename='bower/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>

<script src="{{ url_for('static', filename='bower/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bower/highcharts/highstock.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bower/leaflet/dist/leaflet.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bower/leaflet-ajax/dist/leaflet.ajax.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bower/datatables/media/js/jquery.dataTables.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bower/datatables/media/js/dataTables.bootstrap.min.js') }}" type="text/javascript"></script>

<script src="{{ url_for('static', filename='bower/turfjs/turf.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bower/d3-scale-chromatic/d3-color.v1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bower/d3-scale-chromatic/d3-interpolate.v1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bower/d3-scale-chromatic/d3-scale-chromatic.v1.min.js') }}" type="text/javascript"></script>
<!-- <script src="{{ url_for('static', filename='bower/datatables/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script> -->

<script src="{{ url_for('static', filename='settings.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app.js') }}" type="text/javascript"></script>
