{% extends 'layout.html' %}

{% block content %}

<h2>Deeposlandia: prediction on image labels with deep learning</h2>

<p>
  Predict some feature detection result with a simple neural network model. See the <a href="https://github.com/oslandia/deeposlandia">project page on Github</a>.</p>

<h3>Datasets</h4>
<h4><a href="https://www.mapillary.com/dataset/vistas">Mapillary</a></h5>
<p>
  <ul>
    <li><a href="{{ url_for('predictor_demo', model='feature_detection', dataset='mapillary') }}">feature detection</a></li>
    <li><a href="{{ url_for('predictor_demo', model='semantic_segmentation', dataset='mapillary') }}">semantic segmentation</a></li>
  </ul>
  <a href="https://www.mapillary.com/dataset/vistas">
    <img src="{{url_for('static', filename='sample_image/mapillary_predicted_example.png')}}" alt="Mapillary image example" style="width:672px;height:224px;" title="Mapillary">
  </a>
</p>

<h4><a href="https://project.inria.fr/aerialimagelabeling/">Aerial image</a></h5>
<p>
  <ul>
    <li><a href="{{ url_for('predictor_demo', model='semantic_segmentation', dataset='aerial') }}">semantic segmentation</a></li>
  </ul>
  <a href="https://project.inria.fr/aerialimagelabeling/">
    <img src="{{url_for('static', filename='sample_image/aerial_example.png')}}" alt="Aerial image example" style="width:448px;height:224px;" title="Aerial image">
  </a>
</p>

<h4>Random shapes</h5>
<p>
  <ul>
    <li><a href="{{ url_for('predictor_demo', model='feature_detection', dataset='shapes') }}">feature detection</a></li>
    <li><a href="{{ url_for('predictor_demo', model='semantic_segmentation', dataset='shapes') }}">semantic segmentation</a></li>
  </ul>
  <img src="{{url_for('static', filename='sample_image/shape_example.png')}}" alt="Shape image example" style="width:128px;height:128px;" title="Shapes">
</p>

<h3>Your turn to play!</h4>

<p>
  Try our <a href="{{ url_for('predictor')}}">semantic segmentation predictor</a> with your own images!
</p>

<h3>About</h4>
<p>
  Developed and hosted by the <a href="http://oslandia.com">Oslandia</a> team! Visit also the <a href="http://data.oslandia.io">data.oslanda.io</a> website to learn more about data processing and machine learning Oslandia projects.
</p>

{% endblock %}
