{% extends 'layout.html' %}

{% block content %}

<script>
  const dataset = "mapillary";
  const model = "{{ model }}";
</script>

<div class="od-header">
  <h1>Mapillary: {{ model }}</h1>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"
        aria-current="page"><a href="{{url_for('index')}}">Home</a>
    </li>
    <li class="breadcrumb-item"
        aria-current="page">Mapillary</a>
</li>  </ol>
</nav>

<h2>Demo</h2>

<p>Click on the below button to generate a random picture from Mapillary
  dataset, and to display the corresponding label predictions.</p>

<button id="predict_labels" value="Generate a new image" dataset="mapillary">Generate a new image</button>

<div class="container">
  <div class="row widget">

    <div class="one-third column home-widget dataset">
      <div class="panel panel-default">
        <div class="panel-header">
	  <h5>Raw image</h5>
	</div>
        <div class="panel-body">
	  <img id="raw_image" height="70%" width="100%" src="{{url_for('static', filename=image_filename)}}">
	</div>
      </div>
    </div>

    <div class="one-third column home-widget dataset">
      <div class="panel panel-default">
        <div class="panel-header">
	  <h5>Ground-truth</h5>
	</div>
        <div class="panel-body">
	  <img id="ground_truth" height="70%" width="100%" src="{{url_for('static', filename=label_filename)}}">
	  <br>
	  {% for value, color in ground_truth_labels %}
	  <span class="color-label" style="background-color: {{ color }}">{{ value }}</span>
	  {% endfor %}
	</div>
      </div>
    </div>

    <div class="one-third column home-widget dataset">
      <div class="panel panel-default">
        <div class="panel-header">
	  <h5>Prediction</h5>
	</div>
        <div class="panel-body">
	  {% if model=="featdet" %}
	  {% for value, proba, color in predicted_labels %}
	  <span class="color-label" style="background-color: {{ color }}">{{ value }}: {{ proba }}%</span>
	  {% endfor %}
	  {% else %}
	  <img id="predictions" height="70%" width="100%" src="{{url_for('static', filename=predicted_filename)}}">
	  <br>
	  {% for value, color in predicted_labels %}
	  <span class="color-label" style="background-color: {{ color }}">{{ value }}</span>
	  {% endfor %}
	  {% endif %}
	</div>
      </div>
    </div>
    
  </div>
</div>

<h2>Training procedure</h2>

<p>
  A <a href="https://arxiv.org/pdf/1505.04597.pdf">U-net</a> model has been
  trained during 20 epochs with a set of 18000 training images, with a
  validation procedure involving 2000 images at the end of each training
  epoch.
</p>

<h2>Dataset description</h2>

<p>
  The original <a href="https://www.mapillary.com/dataset/vistas">Mapillary</a>
  dataset contains 65 labels. For a sake of clarity, a lighter classification
  with only 13 labels has been built up:
  <ul>
    <li>animal: ground animal or birds</li>
    <li>construction (barrier): curbs, fences, guard rails and other barriers</li>
    <li>construction (flat): ground areas like roads, parkings, bike lanes...</li>
    <li>construction (structure): buildings, bridges, tunnels</li>
    <li>human</li>
    <li>rider: human on a bike, a motorbike or a horse</li>
    <li>marking</li>
    <li>nature: mountain, sand, sky, vegetation</li>
    <li>traffic-sign</li>
    <li>support: pole, traffic-sign frame, utility pole</li>
    <li>vehicule</li>
    <li>object: miscellaneous objects</li>
    <li>void: own vehicle or unlabeled pixels</li>
  </ul>
</p>

{% endblock %}

{% block appjs %}

<script src="{{ url_for('static', filename='demo_predictor.js') }}" type="text/javascript"></script>

{% endblock %}
