{% extends 'layout.html' %}

{% block content %}

<script>
  const model = "semantic_segmentation";
</script>

<div class="od-header">
  <h1>Try It Yourself!</h1>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"
        aria-current="page"><a href="{{url_for('index')}}">Home</a>
    </li>
    <li class="breadcrumb-item"
        aria-current="page">Try it yourself</a>
    </li>
  </ol>
</nav>

<h2>Instructions</h2>

<p>
  Load a <i>.png</i> or <i>.jpg</i> image from your file system, and discover
  the amazing predictions!
  <ol type="1">
    <li>Click on "Parcourir..." button: <b>Get an image from your file system.</b></li>
    <li>Click on "Upload" button: <b>Upload the file to the server.</b></li>
    <li>Click on "Predict" button: <b>Run the prediction process.</b></li>
  </ul>
</p>

<h2>Let's predict!</h2>

<div class="container">
  <div class="row widget prediy">

    <div class="one-half column home-widget dataset">
      <div class="panel panel-default">
        <div class="panel-header">
	  <h5>Uploaded image</h5>
	  <form method="POST"
		enctype="multipart/form-data"
		action="{{url_for('upload_image')}}"
		id="upload_form">
	    <input type="file"
  		   name="file"
  		   value="Upload"
  		   id="upload_file">
	    <input type="submit"
		   value="Upload"
		   id="upload_button">
	  </form>
	</div>
        <div class="panel-body">
	  {% if example_image %}
	  <img id="example_image"
	       src="{{url_for('static', filename=example_image)}}"
	       title="Example image"
	       alt="Example image"
	       width="100%" height="85%">
	  {% else %}
	  <img id="uploaded_image"
	       src="{{ url_for('send_image', filename=image_name) }}"
	       alt="Uploaded image"
	       title="Uploaded image"
	       width="100%" height="85%">
	  <span><font color="orange"><b>{{ message }}</b></font></span>
	  {% endif %}
	</div>
      </div>
    </div>

    <div class="one-half column home-widget dataset">
      <div class="panel panel-default">
        <div class="panel-header">
	  <h5>Prediction</h5>
	  <button id="predict_button">Predict</button>
	</div>
        <div class="panel-body">
	  {% if example_image %}
	  {% else %}
	  <img id="predictions" src="{{ url_for('static', filename=predicted_filename) }}" width="100%" height="85%">
	  <br>
	  <span id="result_label">What does contain this image?</span>
	  {% endif %}
	</div>
      </div>
    </div>

  </div>
</div>

<h2>Making of</h2>

<p>
  The model used here has been trained
  on <a href="https://www.mapillary.com/dataset/vistas">Mapillary dataset</a>
  during 5 epochs with a set of 18000 training images. It has been validated
  with a smaller set of 2000 images.
</p>

<p>
  The model expect street-scene images. You can try whatever picture you want,
  however in the case you pick another type of scene, do not be surprised if
  the result looks weird...
</p>

<p>
  The neural network was trained with 400*400 pixel images, that sounds quite
  small in regard with current camera resolutions. You should expect a more or
  less important pixelization phenomenon depending on your image size.
</p>

<p>As a recall, one can list the 13 Mapillary aggregated labels that were used during the model training:
  <ul>
    <li>animal: ground animal or birds</li>
    <li>construction (barrier): curbs, fences, guard rails and other barriers</li>
    <li>construction (flat): ground areas like roads, parkings, bike lanes...</li>
    <li>construction (structure): buildings, bridges, tunnels</li>
    <li>human</li>
    <li>rider: human on a bike, a motorbike or a horse</li>
    <li>marking</li>
    <li>nature: mountain, sand, sky, vegetation</li>
    <li>traffic-sign</li>
    <li>support: pole, traffic-sign frame, utility pole</li>
    <li>vehicule</li>
    <li>object: miscellaneous objects</li>
    <li>void: own vehicle or unlabeled pixels</li>
  </ul>
</p>

<div class=infoframe>
  <h4>GDPR compliance</h4>
  <p>
    The uploaded images are stored on our server when the uploading action is
    done. We do not use them in any other purpose than this web application,
    and we remove them from the server every two weeks.
  </p>
  <p>
    The "try-it-yourself" usage implies that the user agrees with the terms
    associated to the transmitted images.
  </p>
</div>

{% endblock %}

{% block appjs %}

<script src="{{ url_for('static', filename='predictor.js') }}"
	type="text/javascript">
</script>

{% endblock %}
